<html>
    <head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>kosgi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.worldometers.info/coronavirus/">kosgi survey on corona</a></h1>
        </div>

        <div>
            
            <h2><a href="https://timesofindia.indiatimes.com/india/coronavirus-india-live-news-updates-total-number-of-covid-cases-in-india-count-state-wise-death-toll/liveblog/75000767.cms">corona in india</a></h2>
            
        </div>

        <div>
            
            <h2><a href="https://www.primevideo.com/">primetime</a></h2>
            
        </div>
    </body>
</html>
